*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.header__container_in_main {
  z-index: 999;
  background: rgb(102,125,231);
  background: linear-gradient(0deg, rgba(102,125,231,1) 0%, rgba(139,133,236,1) 51%, rgba(99,104,236,1) 100%);
  overflow: hidden;
  padding-left: 2%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;display: grid;
  grid-template-columns: 18fr 2fr 1fr 1fr;
  column-gap:5%;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
}

.internal__container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cart__container {
  margin-left: 10%;
}

.container2{
  display: flex;
  flex-direction: row;
}

.searchbar__container {
  margin-left: 50px;
  overflow-y: auto;
  max-height: 40vh;
}

#errorPage__container{
  margin:10%;
  text-align: center;
}

#textError__text {
  font-size: 100px;
}

#buttonsForAddToCart {
  font-size: xx-large;
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


#searchBarListing__container {
  border: 1px black dotted;
  display: block;
  height: 0px;
  width: 100%;      
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 4em;
}

#itemName__name { 
  font-size: large;
}

.item__container {
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
  /* border: 5px double darkgray; */
  border-radius: 10px;
}

.product_name {
  margin-top: 10px;
  align-self: center;
  font-size: 24px;
  padding: 10px;
}

.price_product__container {
  display: flex;
  flex-direction: row;
}

.add_to_cart__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(253, 228, 228);
  border-radius: 5px;
}

.add_to_cart__container:hover {
  background-color: grey;
}

.add_to_cart__name {
  font-size: 35px;
  font-weight: bold;
}
.option_search{
  display:flex;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 20px;


}
.option_search2{
  display:flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
}
.option_search3{
  display:flex;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 0;
}

  
  


.superstore {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 140%;
  margin-left: auto;
}

.cartName {
  font-size: 2rem;
}

.product_container{
  border: 4px black solid;
  border-radius: 20px;
  padding:4%;
}


.search__container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ageName__container{
  margin-top: 50px;
  margin-right: 100px;
  font-size:1.5rem;
}

.searchbar_withImage {
  display: flex;
  flex-direction: row;
}

img {
  margin-top:50px;
  max-width: 30px;
  max-height:30px;
  size:25px;
}

.searchbar {
  margin-top:50px;
  width: 600px;
  height: 40px;
}

@media screen and (max-width:1000px) {
  .menu__container{
    margin-right: 40px;
  }

  .superstore{
    font-size: 50%;
  }
  
  .cart__container {
    margin-left: 300px;
  }

  .buttonStyle {
    display: flex;
    align-items: center;
    align-self: center;
    padding:10px 20px;
    margin: 40px 50px;
    font-size: 2rem;
    font-weight:900;
    color:white;
    
    background: #4ECDC4;  /* fallback for old browsers */
    background-image: linear-gradient(to top left,
     rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
  
  }

  
  .buttonStyle:hover {
    background-color: rgb(87, 3, 241);
  }
}


.departments__container {
  align-items: center;
  align-self: center;
  color:white;
  font-weight: 900;
  font-size: 3rem;
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-top:30px
}

.row1__container {
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.buttonStyle2 {
  display: flex;
  align-items: left;
  align-self: left;
  padding:10px 10px;
  font-size: 50;
  color:white;
  
  background: #121954;  /* fallback for old browsers */
  background-image: linear-gradient(to top left,
   rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));

}
.buttonStyle2:hover {
  background-color: rgb(98, 90, 113);
}

.buttonStyle {
  display: flex;
  align-items: center;
  align-self: center;
  padding:10px 20px;
  margin: 40px 50px;
  font-size: 2rem;
  font-weight:700 !important;
  color:white;
  
  background: #4ECDC4;  /* fallback for old browsers */
  background-image: linear-gradient(to top left,
   rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));

}

.buttonStyle:hover {
  background-color: rgb(87, 3, 241);
}

.row2__container {
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.row3__container {
  display:flex;
  justify-content: center;
  flex-direction: row;
}
.row5__container {
  display:flex;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width:1100px) {
.buttonStyle {
    display: flex;
    align-items: center;
    align-self: center;
    padding:10px 10px;
    margin: 40px 5px;
    font-size: 2rem;
    font-weight:900;
    color:white;
    
    background: #4ECDC4;  /* fallback for old browsers */
    background-image: linear-gradient(to top left,
     rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
  
  }
  
  .buttonStyle:hover {
    background-color: rgb(87, 3, 241);
  }
}


footer {
  background-color: black;
  color:white;
}


footer {
  margin-top:100px;
  background-color: black;
  color:white;
}

.footer__container {
  padding-top: 10px;
  padding-left:50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}


.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
}

.contact__container {
  margin-left:200px;
}

.news__container {
  padding-right:40px;
}

.informations {
  display: flex;
  flex-direction: row;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  margin-top:40px;
}

.contactUs__information {
  margin-left:450px;
}

a {
  color:rgb(184, 153, 241);
}

.latestNews__container {
  margin-left:475px;
}

@media screen and (max-width:1300px){
  .headings {
    font-size: 1.5rem;
  }

  .informations{
    font-size: small;
  }

  .contactUs__information {
    margin-left:90px;
  }

  .contact__container {
    margin-left:20px;
  }

  .news__container {
    padding-right:10px;
  }

  .latestNews__container {
    margin-left:250px;
  }
}


.button {
  background-color: #e0e7e4;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  margin-top: 45px;
  margin-right: 350px;
  font-size:1.0rem;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: white;
  
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #b9c4b9}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .button {
  background-color: #b9c4b9;
}



#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0;
}

.menu__item a:hover {
  background-color: #CFD8DC;
}

.menu__item a {

  display: block;
  margin-top: 60px;
  margin-left: 5
  x;
  color: #333;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;

}


.menu__box {
  display: block;
  height: 100%;
  right: -100%;
  width: 300px;
  position: fixed;
  top: 0;
  padding: 0px 0;
  background-color: #759cb6;
}

.menu__btn {
  position: fixed;
  top: 60px;
  width: 26px;
  height: 26px;
  cursor:pointer;
  z-index: 10;
}

.menu__btn > span
{
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
  background-color: #eee2e2;
}

.menu__btn > span::before
{
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
  background-color: #eee2e2;
  content: '';
  top: -10px;
}

.menu__btn > span::after {
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
  background-color: #eee2e2;
  content: '';
  top: 10px;


}
