#forgotPassword__mainContainer {
    margin: 3%;
    display:flex;
    flex-direction: column;
    text-align: center;
    border: 5px black double;
    border-radius: 10px;
}

#forgotPassword__heading {
    font-size: 100px;
    color:rgb(219, 215, 215);
    font-weight: 700;
}

#resetBelow__text {
    font-size: 70px;
    color:rgb(0, 0, 0);
    font-weight: 500;
}

#forgotPassword__form {
    column-gap: 100px;
    font-size: 1.5rem;
    margin-left: 10%;
    justify-content: space-around;
}

#email__box {
    width: 30%;
    height: 30px;
}

#submitEmail__button {
    margin-top: 1%;
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: grab;
}
  
#submitEmail__button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#doesntExist__text {
    padding: 3%;
    font-size: smaller;
    font-weight: bold;
    color: maroon;
    
}


#insideDisplayData {
    border: 4px white solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#questionHeading__text {
    font-size: 40px;
    font-weight: 600;   
    text-align: center;
}

#question__text {
    margin-left: 9%;
    font-size: x-large;
}

#hintAnswer {
    width: 500px;
    height: 2rem;
    margin-left: 10%;
}

#displayPassword__text {
    margin: 5%;
    font-size: xx-large;
}

#login__below {
    margin-left: 100px;
    font-size: 50px;
    text-decoration: none;
}
