*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    padding-top:10px;
    padding-bottom:50px;
    background-image: radial-gradient(circle, #ffffff, #f5ebfc, #f5d5f1, #fabddd, #ffa5c0, #ff92a9, #ff808e, #ff6f71, #ff5c5b, #ff4843, #ff2f29, #ff0000);
}



/* .name__container {
    background-color: rgb(228, 88, 88);
    margin: 20px;
    border: 3px solid rgb(245, 230, 230);
    border-radius: 30px;
} */

.superstore_name {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px white, 0 0 20px black, 0 0 5px rgb(35, 35, 48);
    /* -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
}

.login__container {
    margin: 20px 250px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #ff8787, #ff8080, #ff787a, #ff7173, #ff696d, #ff696d, #ff686e, #ff686e, #fe7075, #fd777c, #fc7e83, #fb858a);
    /* border: 2px solid black; */
    border-radius: 30px;
}

.login__containerHeader{
    width:auto;
    background-color: rgb(8, 6, 17);
    color:white;
    display: flex;
    margin:30px 50px;
    border-radius: 10px;
    justify-content: center;
    font-size: 2rem;
}

.login__credentials{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;

}

.login__credentials input {
    width: 350px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    font-size: large;
    background-color: rgb(250, 233, 233);
    border-radius: 5px;
}

.LoginButton {
    width: 60px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    font-size: large;
    font-style: italic;
    background-color: rgb(250, 233, 233);
    border-radius: 5px;
}

p {
    color: maroon;
    font-weight: bold;
}

.signup__container {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup:hover {
    background-color: red;
}

.forgotPassword__container:hover {
    color: red;
}

