
.formCategory1 {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 10%;
    padding-bottom: 20%;
    width: 65%;
    font-size: 30px;
    background-color:aquamarine;
    

}
.profile_name{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: 900;
    background-color: #da3226;
    background-image: linear-gradient(to left, #a83636, #801717);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.username
{
    margin-top:20px;
    width: 500px;
    height: 40px;
}

.email
{
    margin-top:20px;
    width: 500px;
    height: 40px;
}

.button1
{
    display: flex;
    align-items: center;
    align-self: center;
    padding:10px 20px;

    font-size: 4rem;
    font-weight:900;
    color:white;
    width: 300px;
    
    background-color:aquamarine;

}

/* .ProfilePic
{
    width:200px;
    height: 400px;
    left: 0px;
    right: 0px;
    
} */

/* #profile__container
{
    display: block;
    margin-left: 50px;
    width: 500px;
    height: 500px;
    
} */
.profile
{
    margin-left: 0px;
    border-radius: 70%;
    font-size: 40px;
    border: 3px solid rgb(245, 230, 230);


}    
.overall
{
    background-color: aquamarine;
}
/* img {
    border: 1px solid #ddd;
 
    border-radius: 4px;
    padding: 5px;
    width: 4rem;
    height: 4rem;
  } */

 